contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
fonttools==4.39.3
grandiso==2.1.1
gspan-mining==0.2.3
importlib-resources==5.12.0
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
kiwisolver==1.4.4
matplotlib==3.7.1
networkx==3.1
numpy==1.24.3
packaging==23.1
pandas==1.5.3
pbr==5.11.1
Pillow==9.5.0
ply==3.11
pydot==1.4.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
zipp==3.15.0
